:root {
    --range: 0%;
  }
  
  body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box {
    width: 300px;
    position: relative;
  }
  
  .rangeSlider {
    outline: none;
    padding: 0;
    width: 100%;
    height: 10px;
    border-radius: 50px;
    background-color: #dcdde1;
    cursor: pointer;
    position: relative;
  }
  
  .rangeSlider::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    border: 0;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0%0D%0Ab3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZl%0D%0AcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEi%0D%0AIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93%0D%0Ad3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNTEy%0D%0AIDUxMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMjsiIHhtbDpzcGFj%0D%0AZT0icHJlc2VydmUiPg0KPGcgdHJhbnNmb3JtPSJtYXRyaXgoMS4yNSAwIDAgLTEuMjUgMCA0NSki%0D%0APg0KCTxnPg0KCQk8Zz4NCgkJCTxwYXRoIHN0eWxlPSJmaWxsOiNGRkNDNEQ7IiBkPSJNNDA5LjYt%0D%0AMTY4LjhjMC0xMTMuMTA2LTkxLjY5NC0yMDQuOC0yMDQuOC0yMDQuOFMwLTI4MS45MDYsMC0xNjgu%0D%0AOFM5MS42OTQsMzYsMjA0LjgsMzYNCgkJCQlTNDA5LjYtNTUuNjk0LDQwOS42LTE2OC44Ii8+DQoJ%0D%0ACQk8cGF0aCBzdHlsZT0iZmlsbDojMjkyRjMzOyIgZD0iTTE0LjEwOC04OS4zNmMyLjczMS0yLjcx%0D%0AOSwxNi4zNS0xMC45LDE5LjA4MS0xOS4wNThzOC4xOTItNTQuNDMxLDI0LjU1My02OC4wNQ0KCQkJ%0D%0ACWMxNi44ODUtMTQuMDI5LDgwLjUyMS04LjgwNiw5Mi43MTgtMi43MzFjMjcuMjczLDEzLjU5Niwz%0D%0AMC42MTgsNTEuNTUzLDM1LjQ0Miw3MC43ODFjMi43MTksMTAuODg5LDE5LjA4MSwxMC44ODksMTku%0D%0AMDgxLDEwLjg4OQ0KCQkJCXMxNi4zNzMsMCwxOS4wOTItMTAuODc3YzQuODI0LTE5LjI0LDguMTky%0D%0ALTU3LjE5NiwzNS40NDItNzAuNzgxYzEyLjIwOC02LjA4Nyw3NS44NDQtMTEuMzEsOTIuNzUyLDIu%0D%0ANzE5DQoJCQkJYzE2LjMyNywxMy42MTksMjEuNzg4LDU5Ljg5MywyNC41MTksNjguMDYyYzIuNzA4%0D%0ALDguMTU4LDE2LjM1LDE2LjMyNywxOS4wODEsMTkuMDQ2YzIuNzQyLDIuNzE5LDIuNzQyLDEzLjYw%0D%0AOCwwLDE2LjMzOA0KCQkJCWMtNS40NSw1LjQzOS02OS43OTEsMTAuMjg2LTEzOS4wNzEsMi43MTlj%0D%0ALTEzLjgyNC0xLjUxMy0xOS4wODEtNS40NS01MS44MTQtNS40NWMtMzIuNzExLDAtMzcuOTksMy45%0D%0AMzctNTEuODAzLDUuNDM5DQoJCQkJYy02OS4yNTcsNy41NzgtMTMzLjYyMSwyLjczMS0xMzkuMDcx%0D%0ALTIuNzA4QzExLjM4OS03NS43NTMsMTEuMzg5LTg2LjY0MSwxNC4xMDgtODkuMzYiLz4NCgkJCTxw%0D%0AYXRoIHN0eWxlPSJmaWxsOiM2NjQ1MDA7IiBkPSJNMzExLjAxMi0yMzIuODQ2Yy0yLjAyNSwxLjgz%0D%0AMi01LjA1MiwxLjk0Ni03LjIyNSwwLjMzYy0wLjQ0NC0wLjMzLTQ0LjYyNC0zMi45OTYtOTguOTg3%0D%0ALTMyLjk5Ng0KCQkJCWMtNTQuMjI2LDAtOTguNTU0LDMyLjY2Ni05OC45ODcsMzIuOTk2Yy0yLjE3%0D%0AMywxLjYxNi01LjIsMS40NzktNy4yMjUtMC4zM2MtMi4wMTQtMS44Mi0yLjQ2OS00LjgyNC0xLjA3%0D%0ALTcuMTQ1DQoJCQkJYzEuNDY4LTIuNDQ2LDM2LjYwMi01OS42NTQsMTA3LjI4MS01OS42NTRzMTA1%0D%0ALjgyNSw1Ny4yMDcsMTA3LjI4MSw1OS42NTRDMzEzLjQ4MS0yMzcuNjU4LDMxMy4wMzctMjM0LjY2%0D%0ANiwzMTEuMDEyLTIzMi44NDYiLz4NCgkJPC9nPg0KCTwvZz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+%0D%0ADQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0K%0D%0APC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwv%0D%0AZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K');
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.3);

    z-index: 99;
    position: relative;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .rangeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border: 0;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0%0D%0Ab3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZl%0D%0AcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEi%0D%0AIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93%0D%0Ad3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNTEy%0D%0AIDUxMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMjsiIHhtbDpzcGFj%0D%0AZT0icHJlc2VydmUiPg0KPGcgdHJhbnNmb3JtPSJtYXRyaXgoMS4yNSAwIDAgLTEuMjUgMCA0NSki%0D%0APg0KCTxnPg0KCQk8Zz4NCgkJCTxwYXRoIHN0eWxlPSJmaWxsOiNGRkNDNEQ7IiBkPSJNNDA5LjYt%0D%0AMTY4LjhjMC0xMTMuMTA2LTkxLjY5NC0yMDQuOC0yMDQuOC0yMDQuOFMwLTI4MS45MDYsMC0xNjgu%0D%0AOFM5MS42OTQsMzYsMjA0LjgsMzYNCgkJCQlTNDA5LjYtNTUuNjk0LDQwOS42LTE2OC44Ii8+DQoJ%0D%0ACQk8cGF0aCBzdHlsZT0iZmlsbDojMjkyRjMzOyIgZD0iTTE0LjEwOC04OS4zNmMyLjczMS0yLjcx%0D%0AOSwxNi4zNS0xMC45LDE5LjA4MS0xOS4wNThzOC4xOTItNTQuNDMxLDI0LjU1My02OC4wNQ0KCQkJ%0D%0ACWMxNi44ODUtMTQuMDI5LDgwLjUyMS04LjgwNiw5Mi43MTgtMi43MzFjMjcuMjczLDEzLjU5Niwz%0D%0AMC42MTgsNTEuNTUzLDM1LjQ0Miw3MC43ODFjMi43MTksMTAuODg5LDE5LjA4MSwxMC44ODksMTku%0D%0AMDgxLDEwLjg4OQ0KCQkJCXMxNi4zNzMsMCwxOS4wOTItMTAuODc3YzQuODI0LTE5LjI0LDguMTky%0D%0ALTU3LjE5NiwzNS40NDItNzAuNzgxYzEyLjIwOC02LjA4Nyw3NS44NDQtMTEuMzEsOTIuNzUyLDIu%0D%0ANzE5DQoJCQkJYzE2LjMyNywxMy42MTksMjEuNzg4LDU5Ljg5MywyNC41MTksNjguMDYyYzIuNzA4%0D%0ALDguMTU4LDE2LjM1LDE2LjMyNywxOS4wODEsMTkuMDQ2YzIuNzQyLDIuNzE5LDIuNzQyLDEzLjYw%0D%0AOCwwLDE2LjMzOA0KCQkJCWMtNS40NSw1LjQzOS02OS43OTEsMTAuMjg2LTEzOS4wNzEsMi43MTlj%0D%0ALTEzLjgyNC0xLjUxMy0xOS4wODEtNS40NS01MS44MTQtNS40NWMtMzIuNzExLDAtMzcuOTksMy45%0D%0AMzctNTEuODAzLDUuNDM5DQoJCQkJYy02OS4yNTcsNy41NzgtMTMzLjYyMSwyLjczMS0xMzkuMDcx%0D%0ALTIuNzA4QzExLjM4OS03NS43NTMsMTEuMzg5LTg2LjY0MSwxNC4xMDgtODkuMzYiLz4NCgkJCTxw%0D%0AYXRoIHN0eWxlPSJmaWxsOiM2NjQ1MDA7IiBkPSJNMzExLjAxMi0yMzIuODQ2Yy0yLjAyNSwxLjgz%0D%0AMi01LjA1MiwxLjk0Ni03LjIyNSwwLjMzYy0wLjQ0NC0wLjMzLTQ0LjYyNC0zMi45OTYtOTguOTg3%0D%0ALTMyLjk5Ng0KCQkJCWMtNTQuMjI2LDAtOTguNTU0LDMyLjY2Ni05OC45ODcsMzIuOTk2Yy0yLjE3%0D%0AMywxLjYxNi01LjIsMS40NzktNy4yMjUtMC4zM2MtMi4wMTQtMS44Mi0yLjQ2OS00LjgyNC0xLjA3%0D%0ALTcuMTQ1DQoJCQkJYzEuNDY4LTIuNDQ2LDM2LjYwMi01OS42NTQsMTA3LjI4MS01OS42NTRzMTA1%0D%0ALjgyNSw1Ny4yMDcsMTA3LjI4MSw1OS42NTRDMzEzLjQ4MS0yMzcuNjU4LDMxMy4wMzctMjM0LjY2%0D%0ANiwzMTEuMDEyLTIzMi44NDYiLz4NCgkJPC9nPg0KCTwvZz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+%0D%0ADQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0K%0D%0APC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwv%0D%0AZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K');
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.3);
  }

  .rangeSlider::-moz-range-progress {

    height: 100%;
    border-radius: 50px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  }
  
  .emoji {
    width: 40px;
    height: 40px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0%0D%0Ab3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZl%0D%0AcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEi%0D%0AIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93%0D%0Ad3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNTEy%0D%0AIDUxMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMjsiIHhtbDpzcGFj%0D%0AZT0icHJlc2VydmUiPg0KPGcgdHJhbnNmb3JtPSJtYXRyaXgoMS4yNSAwIDAgLTEuMjUgMCA0NSki%0D%0APg0KCTxnPg0KCQk8Zz4NCgkJCTxwYXRoIHN0eWxlPSJmaWxsOiNGRkNDNEQ7IiBkPSJNNDA5LjYt%0D%0AMTY4LjhjMC0xMTMuMTA2LTkxLjY5NC0yMDQuOC0yMDQuOC0yMDQuOFMwLTI4MS45MDYsMC0xNjgu%0D%0AOFM5MS42OTQsMzYsMjA0LjgsMzYNCgkJCQlTNDA5LjYtNTUuNjk0LDQwOS42LTE2OC44Ii8+DQoJ%0D%0ACQk8cGF0aCBzdHlsZT0iZmlsbDojMjkyRjMzOyIgZD0iTTE0LjEwOC04OS4zNmMyLjczMS0yLjcx%0D%0AOSwxNi4zNS0xMC45LDE5LjA4MS0xOS4wNThzOC4xOTItNTQuNDMxLDI0LjU1My02OC4wNQ0KCQkJ%0D%0ACWMxNi44ODUtMTQuMDI5LDgwLjUyMS04LjgwNiw5Mi43MTgtMi43MzFjMjcuMjczLDEzLjU5Niwz%0D%0AMC42MTgsNTEuNTUzLDM1LjQ0Miw3MC43ODFjMi43MTksMTAuODg5LDE5LjA4MSwxMC44ODksMTku%0D%0AMDgxLDEwLjg4OQ0KCQkJCXMxNi4zNzMsMCwxOS4wOTItMTAuODc3YzQuODI0LTE5LjI0LDguMTky%0D%0ALTU3LjE5NiwzNS40NDItNzAuNzgxYzEyLjIwOC02LjA4Nyw3NS44NDQtMTEuMzEsOTIuNzUyLDIu%0D%0ANzE5DQoJCQkJYzE2LjMyNywxMy42MTksMjEuNzg4LDU5Ljg5MywyNC41MTksNjguMDYyYzIuNzA4%0D%0ALDguMTU4LDE2LjM1LDE2LjMyNywxOS4wODEsMTkuMDQ2YzIuNzQyLDIuNzE5LDIuNzQyLDEzLjYw%0D%0AOCwwLDE2LjMzOA0KCQkJCWMtNS40NSw1LjQzOS02OS43OTEsMTAuMjg2LTEzOS4wNzEsMi43MTlj%0D%0ALTEzLjgyNC0xLjUxMy0xOS4wODEtNS40NS01MS44MTQtNS40NWMtMzIuNzExLDAtMzcuOTksMy45%0D%0AMzctNTEuODAzLDUuNDM5DQoJCQkJYy02OS4yNTcsNy41NzgtMTMzLjYyMSwyLjczMS0xMzkuMDcx%0D%0ALTIuNzA4QzExLjM4OS03NS43NTMsMTEuMzg5LTg2LjY0MSwxNC4xMDgtODkuMzYiLz4NCgkJCTxw%0D%0AYXRoIHN0eWxlPSJmaWxsOiM2NjQ1MDA7IiBkPSJNMzExLjAxMi0yMzIuODQ2Yy0yLjAyNSwxLjgz%0D%0AMi01LjA1MiwxLjk0Ni03LjIyNSwwLjMzYy0wLjQ0NC0wLjMzLTQ0LjYyNC0zMi45OTYtOTguOTg3%0D%0ALTMyLjk5Ng0KCQkJCWMtNTQuMjI2LDAtOTguNTU0LDMyLjY2Ni05OC45ODcsMzIuOTk2Yy0yLjE3%0D%0AMywxLjYxNi01LjIsMS40NzktNy4yMjUtMC4zM2MtMi4wMTQtMS44Mi0yLjQ2OS00LjgyNC0xLjA3%0D%0ALTcuMTQ1DQoJCQkJYzEuNDY4LTIuNDQ2LDM2LjYwMi01OS42NTQsMTA3LjI4MS01OS42NTRzMTA1%0D%0ALjgyNSw1Ny4yMDcsMTA3LjI4MSw1OS42NTRDMzEzLjQ4MS0yMzcuNjU4LDMxMy4wMzctMjM0LjY2%0D%0ANiwzMTEuMDEyLTIzMi44NDYiLz4NCgkJPC9nPg0KCTwvZz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+%0D%0ADQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0K%0D%0APC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwv%0D%0AZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -60px;
    left: -20px;
    transition: all .3s;
    animation: move-emoji 1s infinite alternate ease-in-out;
    opacity: 0;
  }
  
  .emoji-hide {
    animation: hide-emoji .2s ease-out;
  }
  
  @keyframes move-emoji {
    0% {
      transform: translateY(-3px)
    }
    100% {
      transform: translateY(3px)
    }
  }
  
  @keyframes hide-emoji {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  